main{
    margin: 0;
}
html{
    font-family: Montserrat;
    background-color: #252b42;
}

header{
    margin-top: -8px;
    background-color: #252b42;
    width: 986px;
    height: 96px;
    margin-left: 263px;
}
.menu-Header{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.imgLogo{
    padding: 30px 15px;
}

.menu-Header-content{
    width: 280px;
    margin-top: 20px;
}

.menu-Header-content ul{
    display: flex;
    gap: 21px;
}



.menu-Header-content   a{
    text-decoration: none;

}
.menu-Header-content li{
    text-decoration: none;
    color: #FFFFFF;
}

.botoes-Header{
    display: flex;
}

.btnMember button{
    margin-top: 20px;
    background-color: #23a6f0;
    color: white;
    width: 220px;
    height: 52px;
    border-radius: 5px;
    text-decoration: none;
}

.btnLogin{
    width: 43px; 
    margin-top: 35px;
    margin-right: 15px; 
    background-color: #252b42;
    color: white;
    text-decoration: none;
}

/*--------------------------------------main-----------------------------*/

.main-Content{
    padding: 0px 57px;
    width: 1197.92px;
    height: 664px;
    justify-content: center;
    display: flex;
}

.title-main h1{
    font-weight: bold;
    font-size: 58px;
    width: 480px;
    height: 240px;
    color: #FFFFFF;
}

.title-main p{
    margin-top: 35px;
    width: 316px;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-learn{
    margin-top: 35px;
    background-color: #252b42;
    color: white;
    width: 157px;
    height: 52px;
    border-radius: 37px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
}

.btn-Get{
    margin-top: 35px;
    background-color: #23a6f0;
    color: white;
    width: 187px;
    height: 52px;
    border-radius: 37px;
    text-decoration: none;
}

.img-Main{
    width: 481px;
}


/*--------------------------------------fim main-----------------------------*/
/*--------------------------------------Strategy-----------------------------*/

.title-Strategy{
    width: 618px;
    margin-left: 530px;
    text-align: center;
}

.title-Strategy h2{
    width: 451px;
    font-size: 40px;
    color: #FFFFFF;
   
}

.title-Strategy p{
    width: 470px;
    font-size: 14px;
    color:  #737373;
    letter-spacing: 0.2px;
    line-height: 20px;
}

.strategy-Content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1046px;
    height: 308px;
    gap: 30px;
    padding: 24px 233px;
}
.cards-Strategy img{
    padding: 45px 25px 0px;
    width: 44.33px;
    height: 39.33px;
}


.cards-Strategy{
    color: #FFFFFF;
    display: flex;
    width: 328px;   
    border: 1px solid #f2f2f2;
}

.c-stra-content{
    padding: 25px 0px;
}
.c-stra-content h2{
    height: 24px;
    width: 167px;
}
.c-stra-content p{
    width: 213px;
}

/*--------------------------------------Fim Strategy-----------------------------*/
/*--------------------------------------Clients Say-----------------------------*/

.cliente-Say{
    width: 1050px;
    margin-left: 195px;
}

.cliente-Say img{
    margin-left: 150.5px;
    margin-top: 80px;
    margin-bottom: 112px;
}

.Say-content{
    margin-left: 221px;
    margin-top: 66px;
    width: 607px;
    text-align: center;
    color: #FFFFFF;
}

.Say-content h2{
    font-size: 40px;
    color: #FFFFFF;
}

.Say-content p{
    vertical-align: top;    
    margin-left: 68.5px;
    width: 440px;
    margin-top: -10px;
    font-size: 14px;
}


/*--------------------------------------Fim Clients Say-----------------------------*/
/*--------------------------------------Our-App-----------------------------*/

.Our-App{
    width: 1050px;
    height: 339px;
    margin-left: 195px;
      
}


.Our-App-tittle{
        margin-left: 221px;
        margin-top: 66px;
        width: 607px;
        text-align: center;
        color: #FFFFFF;
}


.Our-App h2{
    font-size: 40px;
    color: #FFFFFF;
}



.Our-App p{
    vertical-align: top;    
    margin-left: 68.5px;
    width: 440px;
    margin-top: -10px;
    font-size: 14px;
}

.app-Cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 947px;
    height: 82px;
    gap: 10px;
    padding: 51px 50px;
}

.cards-App-content{
    width: 214px;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #737373;
}

.cards-App-content img{
    padding: 28px 22px;
}

.cards-App-content p{
    margin-left: 86px;
    display: flex;
    margin-top: -50px;
}