main{
    margin: 0;
}
html{
    font-family: Montserrat;
    background-color: #252b42;
}

header{
    margin-top: -8px;
    background-color: #252b42;
    width: 986px;
    height: 96px;
    margin-left: 263px;
}
.menu-Header{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.imgLogo{
    padding: 30px 15px;
}

.menu-Header-content{
    width: 280px;
    margin-top: 20px;
}

.menu-Header-content ul{
    display: flex;
    gap: 21px;
}



.menu-Header-content   a{
    text-decoration: none;

}
.menu-Header-content li{
    text-decoration: none;
    color: #FFFFFF;
}

.botoes-Header{
    display: flex;
}

.btnMember button{
    margin-top: 20px;
    background-color: #23a6f0;
    color: white;
    width: 220px;
    height: 52px;
    border-radius: 5px;
    text-decoration: none;
}

.btnLogin{
    width: 43px; 
    margin-top: 35px;
    margin-right: 15px; 
    background-color: #252b42;
    color: white;
    text-decoration: none;
}

/*--------------------------------------main-----------------------------*/

.main-Content{
    padding: 0px 57px;
    width: 1197.92px;
    height: 664px;
    justify-content: center;
    display: flex;
}

.title-main h1{
    font-weight: bold;
    font-size: 58px;
    width: 480px;
    height: 240px;
    color: #FFFFFF;
}

.title-main p{
    margin-top: 35px;
    width: 316px;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-learn{
    margin-top: 35px;
    background-color: #252b42;
    color: white;
    width: 157px;
    height: 52px;
    border-radius: 37px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
}

.btn-Get{
    margin-top: 35px;
    background-color: #23a6f0;
    color: white;
    width: 187px;
    height: 52px;
    border-radius: 37px;
    text-decoration: none;
}

.img-Main{
    width: 481px;
}


/*--------------------------------------fim main-----------------------------*/
/*--------------------------------------Strategy-----------------------------*/

.title-Strategy{
    width: 618px;
    margin-left: 530px;
    text-align: center;
}

.title-Strategy h2{
    width: 451px;
    font-size: 40px;
    color: #FFFFFF;
   
}

.title-Strategy p{
    width: 470px;
    font-size: 14px;
    color:  #737373;
    letter-spacing: 0.2px;
    line-height: 20px;
}

.strategy-Content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1046px;
    height: 308px;
    gap: 30px;
    padding: 24px 233px;
}
.cards-Strategy img{
    padding: 45px 25px 0px;
    width: 44.33px;
    height: 39.33px;
}


.cards-Strategy:hover{
    box-shadow: 2px 2px 2px #FFFFFF;
    transition: 0.5s;
    margin-top: 2px;
    margin-left: 2px;
}
.cards-Strategy{
    color: #FFFFFF;
    display: flex;
    width: 328px;   
    border: 1px solid #f2f2f2;
}

.c-stra-content{
    padding: 25px 0px;
}
.c-stra-content h2{
    height: 24px;
    width: 167px;
}
.c-stra-content p{
    width: 213px;
}

/*--------------------------------------Fim Strategy-----------------------------*/
/*--------------------------------------Clients Say-----------------------------*/

.cliente-Say{
    width: 1050px;
    margin-left: 231px;
}

.cliente-Say img{
    margin-left: 150.5px;
    margin-top: 80px;
    margin-bottom: 112px;
}

.Say-content{
    margin-left: 221px;
    margin-top: 66px;
    width: 607px;
    text-align: center;
    color: #FFFFFF;
}

.Say-content h2{
    font-size: 40px;
    color: #FFFFFF;
}

.Say-content p{
    vertical-align: top;    
    margin-left: 68.5px;
    width: 440px;
    margin-top: -10px;
    font-size: 14px;
}


/*--------------------------------------Fim Clients Say-----------------------------*/
/*--------------------------------------Our-App-----------------------------*/

.Our-App{
    width: 1050px;
    height: 339px;
    margin-left: 231px;
      
}


.Our-App-tittle{
        margin-left: 221px;
        margin-top: 66px;
        width: 607px;
        text-align: center;
        color: #FFFFFF;
}


.Our-App h2{
    font-size: 40px;
    color: #FFFFFF;
}



.Our-App p{
    vertical-align: top;    
    margin-left: 88.5px;
    width: 440px;
    margin-top: -10px;
    font-size: 14px;
}

.app-Cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 947px;
    height: 82px;
    gap: 10px;
    padding: 51px 50px;
}

.cards-App-content:hover{
    box-shadow: 2px 4px 8px #0c0c0c;
}
.cards-App-content{
    width: 214px;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #737373;
}

.cards-App-content img{
    padding: 26px 22px;
}

.cards-App-content p{
    margin-left: 86px;
    display: flex;
    margin-top: -50px;
}



/*---------------------------------------------------------------------------------*/




/*--------------------------------Pricing------------------------------------------*/


.Pricing{
    width: 1050px;
    height: 766px;
    margin-left: 231px;
}
.Pricing-tittle{
    margin-left: 221px;
    margin-top: 66px;
    width: 607px;
    text-align: center;
    color: #FFFFFF;
}


.Pricing-tittle h2{
font-size: 40px;
color: #FFFFFF;
}

.pricing-Cards{
    margin-top: 96px;
    display: flex;
    width: 1050px;
    gap: 30px;
}


.card-Pricing:hover{
    box-shadow: 2px 4px 8px #FFFFFF;
    transition: 1s;
    margin-top: 10px;
}
.card-Pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 508px;
    height: 243px;
    background-color: #FFFFFF;
    border-radius: 10px;   
}


.text-Pricing{
    margin-left: 49px;
    margin-top: -25px;
    width: 217px;
    height: 143px;
}

.text-Pricing h3{
    color: #23a6f0;
    font-size: 24px;
    text-align: start;
}

.text-Pricing p{
    color: #737373;
    font-size: 14px;
}

.preço-Pricing{
    margin-top: -55px;
    margin-left: 30px;
    display: flex;
    width: 116px;
}

.preço-Pricing p:nth-of-type(1){
    font-size: 40px;
    margin-top: -35px;
    margin-bottom: -40px;
    color: #23a6f0;
}

.preço-Pricing p:nth-of-type(2){
    color: #23a6f0;
    margin-top: -30px;
    margin-left: 10px;
}

.preço-Pricing p:nth-of-type(3){
    width: 70px;
    color: #23a6f0;
    margin-top: -10px;
    margin-left: -10px;
}



.card-Pricing button{
    background-color: #23a6f0;
    color: white;
    width: 163px;
    height: 52px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: -80px;
    margin-left: -115px;
    
}


/*----------------------------------------------------------------------------------------*/


/*---------------------------Branches-All------------------------------------------------*/




.Branches-All{
    gap: 30px;
    display: flex;
    margin-top: 30px;
    width: 1048px;
    height: 329px;
    margin-left: 232px;
}

.Branches-tittle{
    color: #FFFFFF;
    width: 602px;
}

.Branches-All h2{
    width: 476px;
    font-size: 40px;
}

.Branches-All p{
    width: 455px;
    font-size: 14px;
}

.Branches-All img{
    width: 468px;
    height: 269.1px;
}



/*--------------------------Formulário-------------*/


.appointment {
    padding: 101px 317.5px;
    display: flex;
}

.form-appointment {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 40px 50px;
    gap: 40px;
    justify-content: space-evenly;
}

.form-appointment h2 {
    color: #252B42;
    font-size: 24px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    color: #252B42;
}

input {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 11px 21px;
    border-radius: 5px;
    width: 507px;
}

input::placeholder {
    font-size: 14px;
    color: #737373;
}

select {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 11px 21px;
    border-radius: 5px;
    width: 550px;
    color: #737373;
    -webkit-appearance: none;
    background-image: url(/IFinance/src/assets/img/select-icon.svg);
    background-repeat: no-repeat;
    background-position: 97%;
}

form button {
    margin-top: 40px;
    font-size: 14px;
    padding: 15px 40px;
    background-color: #23A6F0;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

/* FOOTER */

footer {
    border-top: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
}

.footer-nav-content {
    padding: 80px 231px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.footer-nav-columns {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-nav-columns h2 {
    margin-left: 35px;
    color: #ffffff;
    font-size: 24px;
    text-align: start;
}

.footer-nav-columns p {
    margin-left: 35px;
    color: #FFFFFF;
    font-size: 14px;
}

.social-icons {
    margin-left: 35px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-nav-columns ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-nav-columns a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
}

.copyright {
    background-color: #FFFFFF;
    padding: 25px 235px;
    text-align: center;
    text-transform: capitalize;
}